@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div>
            <input type="button" id="joinToGroup" value="Join to a private group" />
        </div>

        <textarea id="message" name="message"></textarea>
        <select id="group">
            <option value="All">Everyone</option>
            <option value="Myself">Myself</option>
            <option value="PrivateGroup">Private group</option>
        </select>
        <input type="button" id="sendButton" value="Send Message" />

        <div id="messages"></div>
    </div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/message.js"></script>
